{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="#">首页</a></li>
  <li class="active">{{b.name}}</li>
</ol>
<a class="btn btn-primary" href="/article/create/{{b.id}}">发表文章</a>
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>标题</td>
            <td>描述</td>
            <td>创建时间</td>
            <td>最后更新时间</td>
        </tr>
    </thead>
    <tbody>
        {% for article in articles%}
       <tr>
          <td><a href="/article/detail/{{article.id}}">{{ article.title }}</a></td>
          <td>{{ article.content }}</td>
          <td>{{ article.create_timestamp|date:"Y-m-d P"}}</td>
          <td>{{ article.last_update_timestamp|date:"Y-m-d P"}}</td>
       </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if p.has_previous %}
    <li><a href="?page_no=1">首页</a></li>
    <li>
      <a href="?page_no={{p.previous_link}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for i in p.page_links %}
    <li {% if i == p.current_no %} class="active" {% endif %}><a href="?page_no={{i}}">{{i}}</a></li>
    {% endfor %}
    {% if p.has_next%}
    <li>
      <a href="?page_no={{p.next_link}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
     <li><a href="?page_no={{p.page_cnt}}">尾页</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
