<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>论坛首页</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
        <div class="row">
			<div class="col-ms-12 col-md-12">
                <div class="jumbotron">
                <center><h1>Python部落论坛</h1></center>
                </div>
                    </div>
                </div>
        <div class="row">
                <div class="col-ms-12 col-md-10">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#" style="font-size:16px">运维专区</a>
                    <span class="pull-right">yhp</span>
                  </div>
                  <div class="panel-body">
                    运维人员的战场
                  </div>
                </div>
             <div class="panel panel-default">
               <div class="panel-heading">
                 <a href="#" style="font-size:16px">Python管理</a>
                 <span class="pull-right">yhp</span>
               </div>
               <div class="panel-body">
                 Python兴趣爱好
               </div>
             </div>
             <div class="panel panel-default">
               <div class="panel-heading">
                 <a href="#" style="font-size:16px">问题讨论</a>
                 <span class="pull-right">yhp</span>
               </div>
               <div class="panel-body">
                 问题讨论专题
               </div>
             </div>
                 </div>  
                 <div class="col-ms-12 col-md-2">
                     <div class="well">个人中心</div>
                 </div>  
         </div>          
 	</div>              
 </body>                 
</html>               
