{% extends "base.html" %}
{% block content %}
{% if error %}
 <div class="alert alert-danger" role="alert">
 <span class="sr-only">Error:</span>
{{ error }}
 </div>
{% else %}
   {% for field in form %}                                   
       {% if field.errors %}
           {% for error in field.errors %}
               <div class="alert alert-danger" role="alert">
               <span class="sr-only">Error:</span>
              {{field.label}}: {{ error }}
               </div>
           {% endfor %}
       {% endif %}
   {% endfor %}
{% endif %}
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="topSpace"><br/><br/></div>
<div class="panel panel-info" >
    <div class="panel-heading" style="background-color:#085D9A;color:white;">
        <b>注册</b>
    </div>
        <div class="panel-body">
        <form class="form-horizontal" action="" method="POST">{% csrf_token %}
        <div class="input-group">
            <span class="input-group-addon" >用户名&nbsp;&nbsp;&nbsp;</span>
            <input type="text" class="form-control" name="username"  placeholder="" value={{form.username.value}}>
        </div>         
           <br>
          <div class="input-group">
            <span class="input-group-addon">邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </span>
              <input type="email" class="form-control" name="email" placeholder="" value={{form.email.value}}>
          </div>
            <br>
          <div class="input-group">
            <span class="input-group-addon">密码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
              <input type="password" class="form-control" name="password" placeholder="" value={{form.password.value}}>
          </div>
            <br>
           <div class="input-group">
            <span class="input-group-addon">确认密码</span>
               <input type="password" class="form-control" name="re_password" placeholder="" >
           </div>
            <br/>
            <input class="btn btn-primary" type="submit" value="注册">
          </div>
        </form>
       </div>
</div>
<div class="col-md-3"></div>
</div>
{% endblock %}
